%h1 Liste der Hinweise

%table
  %tr
    %th Hinweistext
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.description
      %td= link_to 'Zeige', message
      %td= link_to 'Bearbeiten', edit_message_path(message)
      %td= link_to 'Löschen', message, :confirm => 'Sind Sie sicher?', :method => :delete

