%h2 Create New
%div.button.vert
  = link_to "Role", new_role_path, :remote => true, :method => :get, :class => "btn primary"
  = link_to "Task", new_task_path, :remote => true, :method => :get, :class => "btn primary"
