%div#container

  #formcontainer
    %div#roleform.dynform
      =render 'create'


  %div#headbar
    %div
      %button#create create


  #container.border
    #upcont
      #out.direction
      #in.direction
      #up.direction
    #down.direction
    #left.direction
    #right.direction
    #plane
