%div#container

  #formcontainer
    %div#roleform


  #container
    #upcont
      #out.direction
      #in.direction
      #up.direction
    #down.direction
    #left.direction
    #right.direction
    #plane
