
.container_16
  .clear
  .grid_3

    %h1 Listing users

    %table
      %tr
        %th Name

      - @users.each do |user|
        %tr
          %td= link_to user.name, user, remote: true

    %br

    = link_to 'New User', new_user_path

  #user.grid_12.userbox
    %h2 Userbox
