
.container-fluid
  .sidebar
    .well
      %h5 Listing users


      %ul
        - @users.each do |user|
          %li
            %span.name= user.name
            = link_to "Open" , user, remote: true, :class => 'btn small'

      %br

      = link_to 'New User', new_user_path, :remote => true , :class => 'btn primary'

  #user.content
    %h2 Userbox
