#relform.modal.hide.fade.in
  .modal-header
    %a.close{:'data-dismiss' => 'modal'}
      x
    -if @role.persisted?
      %h3 Rolle bearbeiten
    -else
      %h3 Rolle erstellen
  .modal-body
    = render 'roles/e_form'
  .mode-footer
