.container-fluid
  .sidebar
    .well
      %h3 Listing roles

      %ul
        - @roles.each do |role|
          %li
            = role.name
            = link_to 'Open', edit_role_path(role), :remote => true , :class => 'btn small'


      = link_to 'New Role', new_role_path, :remote => true , :class => 'btn primary'
  #role.content
    Rollen
