// Place all the styles related to the master controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#headbar {
  height: 60px;
  border-bottom: solid 1px;
  margin-bottom: 10px;
}

.border {
  border: 1px solid black;
}

.close {
  background-image: url(x.png);
  height: 19px;
  width: 19px;
  float: right;
}

#plane {
  height: 500px;
  width: 900px;
  overflow: hidden;
}
